
.separator1{
   padding: 100px 0;
   background-image: url("../../images/vecteezy_bright-abstract-background-orange-color_.jpg");
     background-position: top;
     background-size: cover;
     background-attachment: fixed;
    h1,h3{
        text-align: center;
        color: #374660;
        text-transform: capitalize;
    }
    h1{
        margin-bottom: 1rem;
    }
}