nav{
    /* background-color:rgba(221, 120, 26, 0.5); */
    width: 100%;
    height: 80px;
    max-width: 100%;
    font-weight: bold;
    color: white;
    z-index: 100;
    backdrop-filter: blur(10px);
}
nav.scroll{
    transition: all 0.2s;
    background-color: rgba(250, 122, 18, 0.918);;
}
.link{
    color:white
}
.link:hover{
    color:#333
}


@media (max-width:992px){
    nav .show{
        background-color: white;
        border-radius: 5px;
        color: green;
        padding-left: 30px;
        z-index: 1000000;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    }
    .link{
        color:rgba(250, 122, 18, 0.918)
    }

    
}